@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.ant-card {
  @apply flex flex-col;
}

.ant-card-meta-title {
  white-space: normal !important;
  height: auto !important;
  @apply !line-clamp-3;
}
.ant-card-actions {
  @apply !mt-auto;
}
.template-list .ant-radio {
  display: none !important;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-background-clip: text;
  -webkit-text-fill-color: none;
  transition: background-color 5000s ease-in-out 0s;
}
.ant-tabs-nav-list .ant-tabs-tab-active {
  background: #3d3d3d !important;
}
.ant-tabs-nav-list .ant-tabs-tab-active .ant-tabs-tab-btn {
  color: white !important;
}

.card-checkbox .ant-checkbox {
  display: none !important;
}
.card-checkbox-check span:nth-child(2) {
  display: flex;
  height: 100%;
}

.card-title-ribbon {
  inset-inline-end: -30px !important;
  top: 0px !important;
}
.ant-card-body {
  height: 100%;
}
